/* table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  font-size: 1.5rem;
}

td,
th {
  border: 1px solid #92c3dd;
  text-align: center;
  padding: 8px;
  font-size: inherit;
}

tr:nth-child(even) {
  text-align: center !important;

  background-color: #92c3dd !important;
}


/* Default styles */
.text {
  font-size: 16px; /* Normal font size for big screens */
}

/* Media query for small screens */

